<%= notice if notice %>
<%= form_tag('/histogram', action: 'get') do %>

  <div class="field">
    <%= label_tag :urls %><br>
    <%= text_field_tag :urls, 'http://www.news.com.au/travel/travel-updates/incidents/disruptive-passenger-grounds-flight-after-storming-cockpit/news-story/5949c1e9542df41fb89e6cdcdc16b615, http://www.smh.com.au/sport/tennis/an-open-letter-from-martina-navratilova-to-margaret-court-arena-20170601-gwhuyx.html, http://www.smh.com.au/nsw/premier-gladys-berejiklian-announces-housing-affordability-reforms-20170601-gwi0jn.html, http://www.news.com.au/technology/environment/trump-pulls-us-out-of-paris-climate-agreement/news-story/f5c30a07c595a10a81d67611d0515a0a' %>
  </div>
  <div class="field">
    <%= label_tag :before %><br>
    <%= date_field_tag :before, '03-06-2017'.to_date %>
  </div>
  <div class="field">
    <%= label_tag :after %><br>
    <%= date_field_tag :after, '01-06-2017'.to_date %>
  </div>
  <div class="field">
    <%= label_tag :interval %><br>
    <%= text_field_tag :interval, '10m' %>
  </div>
  <div class="actions">
    <%= submit_tag 'Get Histogram' %>
  </div>
<% end %>
